* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.encuentro,
.suerte,
.destino,
.nacer,
.morir {

  height: 100vh;
 
  width: 100%;
    display: flex;
    flex-direction: column;

 justify-content: center;
 align-items: center;
 box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
 object-fit: contain;


}



.encuentro {
  background-image: url('/images/dawn.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;


}

.encuentro > h1 ,
.suerte > h1 ,
.destino > h1,
.nacer > h1,
.morir > h1

 {
  color: #fff;
  font-size: 70px;
  margin-top: -100px;
  text-align: center;
}

.fa-heart-broken {
  color: red;
}

.fa-heart {
  color: red;
}
.fa-hand-holding-heart {
color: wheat;
}

.encuentro > p ,
.suerte > p ,
.destino > p,
.nacer > p,
.morir > p
 {
   max-width: 800px;
  margin-top: 8px;
  color: white;
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.suerte {
  background-image: url('/images/ocaso.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}

.destino {
  background-image: url('/images/fondo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}


.nacer {
  background-image: url('/images/nacer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}

.morir {
  background-image: url('/images/morir.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}

@media screen and (max-width: 960px) {
  .encuentro > h1 ,
  .suerte > h1 
  
   {
    color: #fff;
    font-size: 45px;
    margin-top: -125px
  }
  
  .encuentro > p ,
  .suerte > p 
  
   {
     max-width: 500px;
    margin-top: 1px;
  
    color: white;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

  .destino > h1,
  .nacer > h1,
  .morir >h1 {
    color: #fff;
    font-size: 35px;
    margin-top: -125px;
    margin-bottom: 10px;
  }
 
  .destino > p,
  .nacer > p, 
  .morir >p { 
    max-width: 550px;
    margin-top: 0.2px;
  margin-left: 5px;
  margin-right: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

  }


}